munit-integration-tests/src/main/app/spy-and-for-each.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:jira="http://www.mulesoft.org/schema/mule/jira" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jira http://www.mulesoft.org/schema/mule/jira/current/mule-jira.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

    <jira:config name="Jira-Connector" >
        <jira:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </jira:config>

    <flow name="jira-mock-exampleFlow" processingStrategy="synchronous">
        <poll frequency="1000" >
            <logger message="JIRA FAILED" level="ERROR"/>
        </poll>
        <set-payload value="#[[ {'orderId':'111'},{'orderId':'222'},{'orderId':'333'}]]"/>
        <foreach doc:name="Foreach">
            <jira:create-issue config-ref="Jira-Connector" project="test-project" summary="#[payload]" type="bug"/>
            <choice>
                <when expression="#[payload.equals('OK')]">
                    <logger message="Everything OK" level="INFO"/>
                </when>
                <otherwise>
                    <logger message="JIRA FAILED" level="ERROR"/>
                </otherwise>
            </choice>
        </foreach>
    </flow>
</mule>
